body {
	text-align: center;
	background-color: #debeef;
}


#title {
	font-size: 150px;
	color: #555555;
	border: dotted #999999 10px;
}

a {
	font-size: 100px;
	border: solid #75e3ff 3px;
	background-color: #70c3f1;
	color: #3593dd;
	text-decoration: none;
	margin: 30px;
}

a:hover {
	background-color: #66b6e3;
	color: #2c84c9;
}