body {
	text-align: center;
	background-color: #debeef;
}

#question {
	font-size: 100px;
	align-items: stretch;
}

#answers {
	width: 100%;
	height: 500px;
	margin-bottom: 50px;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#home {
	font-size: 100px;
	border: solid #75e3ff 3px;
	background-color: #70c3f1;
	color: #3593dd;
	text-decoration: none;
}

#home:hover {
	background-color: #66b6e3;
	color: #2c84c9;
}

.answer {
	background-color: lime;
	display: inline;
	width: 48%;
	margin: 1%;

}

.butt {
	width: 100%;
	height: 100%;
	font-size: 100px;
}

.former {
	align-items: stretch;
	height: 100%;
}

#red {
	color: #751207;
	background-color: #ff5c5c;
	border: solid #dc143c 5px;
}#red:hover{
	color: #69140a;
	background-color: #d94343;
}

#blue {
	color: #0e408f;
	background-color: #007fff;
	border: solid #4169e1 5px;
}#blue:hover{
	color: #0b3475;
	background-color: #096fd6;
}
#yellow {
	color: #787114;
	background-color: #fee12b;
	border: solid #e4cd05 5px;
}#yellow:hover{
	color: #696210;
	background-color: #ebcf1e;	
	border: solid #c4ac10 5px;
}
#green {
	color: #116e07;
	background-color: #7cfc00;
	border: solid #3bb143 5px;

}#green:hover{
	color: #0d6104;
	background-color: #6ad602;
}


