<!DOCTYPE html>
<html>
  <head>
  	<title>quizazzle</title>
    <link rel="stylesheet" href="../static/maker_style.css">
  </head>
  <body>


    <form method="post" action="/add_question">
        <div>
              <input type="text"  name="question" placeholder='question' id='question' required>
        </div>


      <div id='answers'>
        <div class='answer'>
              <input type="text"  name="awnser1" placeholder="insert correct answer" class='filliaster' id='red' required>
        </div>
        <div class='answer'>
              <input type="text"  name="awnser2" placeholder='insert wrong answer' class='filliaster' id='blue' required>
        </div>

        <div class='answer'>
              <input type="text"  name="awnser3" placeholder='insert wrong answer' class='filliaster' id='yellow' required>
        </div>

        <div class='answer'>
              <input type="text"  name="awnser4" placeholder='insert wrong answer' class='filliaster' id='green' required>
          </div>
      </div>



      <div id='submit'>
          <input type="submit" id='submit_button' />
      </div>

    </form>
  
    <br>
    <a href="/" id='home'>go home</a>

  </body>
</html>