<!DOCTYPE html>
<html>
  <head>
  	<title>quizazzle</title>
    <link rel="stylesheet" href="../static/maker_style.css">
  </head>
  <body>


    <form method="post" action="/add_question">
      <div>
        <label>question</label>
        <div>
            <input type="text"  name="question" placeholder='add_question' required>
        </div>
      </div>


      <div id='awnsers'>
              <input type="text"  name="awnser1" placeholder="this answer is the correct one" class='answer' required>

        <div>
              <input type="text"  name="awnser2" placeholder='wrong answer' class='answer' required>
        </div>

        <div>
              <input type="text"  name="awnser3" placeholder='wrong answer' class='answer' required>
        </div>

        <div>
              <input type="text"  name="awnser4" placeholder='wrong answer' class='answer' required>
          </div>
      </div>



      <div>
          <input type="submit"/>
      </div>

    </form>
  
    <br>
    <a href="/">go home</a>

  </body>
</html>