<!DOCTYPE html>
<html>
  <head>
  	<title>quizazzle</title>
  </head>
  <body>


    <form method="post" action="/add_question">
      <div>
        <label>question</label>
        <div>
            <input type="text"  name="question" required>
        </div>
      </div>


      <div>
        <div>
          <label>awnser_1</label>
          <div>
              <input type="text"  name="awnser1" placeholder="this awnser is the correct one" required>
          </div>
        </div>

        <div>
          <label>awnser_2</label>
          <div>
              <input type="text"  name="awnser2" required>
          </div>
        </div>

        <div>
          <label>awnser_3</label>
          <div>
              <input type="text"  name="awnser3">
          </div>
        </div>

        <div>
          <label>awnser_4</label>
          <div>
              <input type="text"  name="awnser4">
          </div>
        </div>
      </div>


      <div>
          <input type="submit"/>
      </div>

    </form>
  
    <br>
    <a href="/">go home</a>

  </body>
</html>