<!DOCTYPE html>
<html>
  <head>
  	<title>quizazzle</title>
  </head>
  <body>


    <div>
      {{question}}
    </div>
    <br><br><br>


    <div>        
      {% if correct[0] == True %}
        <form method="post" action="/quiz?f=f1">
      {% else %}
        <form method="post" action="/quiz?f=f2">
      {% endif %}

        <div>
          <div>
            <button type="submit">{{answers[0]}}</button>
          </div>
        </div>
      </form>
    </div>


    <div>        

      {% if correct[1] == True %}
        <form method="post" action="/quiz?f=f1">
      {% else %}
        <form method="post" action="/quiz?f=f2">
      {% endif %}

      <div>
        <div>
          <button type="submit">{{answers[1]}}</button>
        </div>
      </div>
     </form>

    </div>


    <div>        

      {% if correct[2] == True %}
        <form method="post" action="/quiz?f=f1">
      {% else %}
        <form method="post" action="/quiz?f=f2">
      {% endif %}

      <div>
        <div>
          <button type="submit">{{answers[2]}}</button>
        </div>
      </div>
     </form>

    </div>


    <div>        

      {% if correct[3] == True %}
        <form method="post" action="/quiz?f=f1">
      {% else %}
        <form method="post" action="/quiz?f=f2">
      {% endif %}

      <div>
        <div>
          <button type="submit">{{answers[3]}}</button>
        </div>
      </div>
      </form>

    </div>



    <a href="/">home</a>

  </body>
</html>