<!DOCTYPE html>
<html>
  <head>
  	<title>quizazzle</title>
  </head>
  <body>


    <div>
      <label>Email address*</label>
      <div>
          <input type="email"  name="email" required>
      </div>
  </div>

    <div>
      <label>Password*</label>
      <div>
        <input type="password"  name="password" minlength="6" required>
      </div>
    </div>

    {% if signer %}
      <div>
        <label>Username*</label>
        <div>
          <input type="text"  name="username" maxlength="30" required>
        </div>
      </div>
    {% endif %}
        
        <!-- Button -->
        <div>
            <input type="submit"/>
        </div>

  </body>
</html>