<!DOCTYPE html>
<html>
  <head>
  	<title>quizazzle</title>
    <link rel="stylesheet" href="../static/logger_style.css">
  </head>
  <body>

    <form method="post" action="/slogin">

            <input type="email"  name="email" placeholder='email' class='txtbox' required>

          <input type="password"  name="password" placeholder='password' minlength="6" class='txtbox' required>

          <input type="text"  name="username" placeholder='username (if logging for the first time)' maxlength="30" class='txtbox'>
        <br>

          <input type="submit" id='submit_button'/>
    </form>

    <a href='/logout'>log out</a>

  </body>
</html>