<!DOCTYPE html>
<html>
  <head>
  	<title>quizazzle</title>
    <link rel="stylesheet" href="../static/user_stats.css">
    <link rel="icon" href="../static/logo.png" type="image/icon type">
  </head>
  <body>


    <div id='stats'>
      <h1>right answers: {{right}}</h1>

      <h1>wrong answers: {{wrong}}</h1>
    </div>

      <p style="margin-top: 300px; margin-bottom: 0px; font-size: 100px;">bar of sucsess:</p>

      <div id='holder'>
        <div id='teller' style="{{barry}}">          
        </div>
      </div>

      <a href="/" id='home'>home</a>

  </body>
</html>