<!DOCTYPE html>
<html>
  <head>
  	<title>quizazzle</title>
    <link rel="stylesheet" href="static/user_style.css">
  </head>
  <body>


      <h1>right answers: {{right}}</h1>

      <h1>wrtong answers: {{wrong}}</h1>
      
      <p style="margin-top: 300px; margin-bottom: 0px; font-size: 100px;">bar of sucsess:</p>

      <div style="width: 100%; height: 100px; background-color: red;">
        <div style="width: {{ barry }}%; background-color: green; height: 100%;">          
        </div>
      </div>

      <a href="/" style=" font-size: 100px;">home</a>

  </body>
</html>